{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SQS-TWF NG</title>
    <!-- render full public path of logo.png -->
    <link rel="shortcut icon" type="image/png" href="{% webpack_static 'favicon.ico' %}"/>
    <!-- Webpack rendered CSS -->
    {% render_bundle 'main' 'css' %}
</head>
<body>
    <div id="root"></div>
    <!-- Webpack rendered JS -->
    {% render_bundle 'main' 'js' %}
</body>
</html>